li{
    list-style: none;
    min-width: 85%;
    min-height: 100px;
    border: 1px #b1bac4  solid;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin-right: 5px;
}

.taskBody{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.deleteTask{
    padding: 0 5px;
    border: 1px solid #757575`;
    background: #f74a4a;
    border-radius: 5px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    min-height: 100px;
    margin-bottom: 5px;
}

.deleteTask:hover{
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.checkIcon{
    background: #737373;
    margin-left: 5px;
}

.checkIcon:hover{
    color: yellowgreen;
}

.checkedTask{
    color: yellowgreen;
    background: green
}