.boxTasksBody{
    min-height: 400px;
    width: 400px;
    border: 1px #b8d4ef solid;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 36px -24px rgba(100,117,201,1);
-moz-box-shadow: 0px 0px 36px -24px rgba(100,117,201,1);
box-shadow: 0px 0px 36px -24px rgba(100,117,201,1);
    background-color: rgba(173, 214, 255, 0.86);
}

hr{
    margin: 0;
    margin-bottom: 10px;
}

.boxTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 30px;
}

ul{
    padding: 10px;
}